<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/about.css">
  <title>Sidnão Company</title>
</head>
<body>
  <header>
    <h1>About</h1>
    <p>Resize the browser window to see the reponsive effect.</p>
  </header>
    
  <nav>
    <a href="home.html">Home</a>
    <a class="selected" onclick="alert('You are already on the About page')">About</a>
    <a href="./contact.html" >Contact</a>
  </nav>

  <div class="container">
    <section>
      <h3>Natan Tavares</h3>
      <p>
        Natan also spent 12 years with IBM, most recently as director of North 
        American Fulfillment where he led manufacturing and distribution 
        functions for IBM’s Personal Computer Company in North and Latin America.        
      </p>
      <p>Natan earned an MBA from Duke University, where he was a Fuqua Scholar, 
        and a Bachelor of Science degree in Industrial Engineering from Auburn 
        University.
      </p>
    </section>

    <aside class="right">
      <h3>Aside</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit..
      </p>
      <p>
        Architecto officiis in assumenda officia et laudantium?
      </p>
      <p>
        Inventore neque, quibusdam earum dolores similique impedit nisi dicta.
      </p>
    </aside>
  </div>
  <footer>
    <a href="https://github.com/NatanTavares" target="_black">&copy NatanTavares</a>
  </footer>
</body>
</html>